<div id="container">
	<div id="header"> 
		<p>Herzlich Willkommen</p>
	</div>
	<div id="haupt_navi">
	 Navigation
	</div>
	<div id="anzeige"> 
		<h1>Testlist </h1>
		<% anzahl = Lesson.all.count%>
		<% (6..anzahl).each do |i|%>
		<p>
		<%= Test.find_by_lesson_id(i).name  %> <%= ["Level :",  Test.find_by_lesson_id(i).level] %> <%= link_to " Fragen", test_questions_path(i) %>
		</p>
		<% end %>


		<%#= @lesson.test %>
	</div>
	<div id="footer"> 
		<p>footer</p>
	</div>

</div>