<div id="container">
	<div id="header"> 
		<p>Herzlich Willkommen</p>
	</div>
	<div id="haupt_navi">
	 Navigation
	</div>
	<div id="anzeige"> 
		<h1>Testlist </h1>
		<% anzahl = Test.all.count%>
		<% (1..anzahl).each do |i|%>
		<p>
		<%= Test.find(i).name  %> <%= ["Level :",  Test.find(i).level] %> <%= link_to " Fragen", test_questions_path(i) %>
		</p>
		<% end %>
	</div>
	<div id="footer"> 
		<p>footer</p>
	</div>

</div>
